body {
    background-color: white;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

#NavigationBar {
    background-color: black;
    display: flex;                /* MAKE NAV A FLEXBOX */
    align-items: stretch;          /* Buttons match image height */
    justify-content: space-between;
    padding: 0 1rem;
    margin-left: 15%;
    margin-right: 15%;
}

#MainInfo {
    background-color: white;
    margin-top: 0px;
    padding-top: 0px;
    width: 70%;
    align-content: center;
    margin-left: 15%;
    margin-right: 15%;
    height: 100vh;
    
}

.NavButton {
    background-color: black;
    color: white;
    width: 15%;
    font-size: 18px;
    margin: 0px;
    border: none;
    border-right: solid;
    border-left: solid;
    border-width: 8px;
    border-color: black;
    padding: 1rem 2rem;
    height: 100%;
    flex-shrink: 1;
    
}

#NavButtonContainer {
    width: 80%;
    margin-top: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: nowrap;
}

#DarkBrand {
    width: 5%;
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
}
h2 {
    padding: 15px;
    background-color: white;
    border: solid black 5px;
}

#PageFooter {
    background-color: black;
    border: 8px solid white;
    display: flex;                /* MAKE NAV A FLEXBOX */
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: 0%;
    margin-top: 0px;
    height: 54px;
    align-content: center;
}
